.form-loeader{
    background-color: #ffffff;
    border: 1px solid #707070;
    border-radius: 50px;
    opacity: 1;
    width: 750px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding: 0.5rem 0 0.5rem 0;
}
.avatarr{
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 100%;
}