.form-register{
    background-color: #ffffff;
    border: 1px solid #707070;
    border-radius: 50px;
    opacity: 1;
    width: 600px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-align: center;
    padding: 0.5rem 0 0.5rem 0;
}

.avatar-preview{
    width: .75rem;
}

.logo-register {
    margin-top: 1rem;
    width: 80px;
}

.p-registrar {
    margin-bottom: 1rem;
}

.div-input select {
    height: 2.8rem;
}

.avatar-input input {
    height: 3rem;
}

@media (max-width:390px){
    .form-register{
        background-color: #ffffff;
        border: 1px solid #707070;
        border-radius: 50px;
        opacity: 1;
        width: 350px;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
        text-align: center;
        padding: 0.5rem 0 0.5rem 0;
        margin-bottom: 8rem;
    }
    
}